<config>
	<k>20</k>
	<pointNum>500000</pointNum>
	<pointRange>100000</pointRange>
	<isStopIterationByCount>true</isStopIterationByCount>
	<iterationCount>1</iterationCount>
	<stopIterationThreshold>1.0</stopIterationThreshold>
	<initCentroidPath>data/initCentroids</initCentroidPath>
	<newCentroidPath>data/newCentroids</newCentroidPath>
	<dimensionNum>2</dimensionNum>
</config>
