<config>
	<k>10</k>
	<pointNum>10000</pointNum>
	<pointRange>1000</pointRange>
	<isStopIterationByCount>false</isStopIterationByCount>
	<iterationCount>1</iterationCount>
	<stopIterationThreshold>1.0</stopIterationThreshold>
	<initCentroidPath>data/initCentroids</initCentroidPath>
	<newCentroidPath>data/newCentroids</newCentroidPath>
	<dimensionNum>2</dimensionNum>
</config>
